/* Common */
div.wrap {
    margin: 0 100px 0 100px;
    position: absolute;
    top: 200px;
}

p {
    display: block;
}

/* Navigation menu */
nav.menu {
    width: 100%;
    position: fixed;
    background: url('../img/mooning.png');
    z-index: 1;
}
    nav.menu > .logo {
        position: absolute;
        width: 200px;
        height: 200px;
        margin: 10px;
        left: 20px;
    }
    nav.menu > ul {
        display: inline-block;
        height: 100px;
        width: 700px;
        float: right;
    }
        nav.menu > ul > li {
            display: inline-block;
            height: 100px;
            padding-right: 42px;
            padding-left: 42px;
        }
            nav.menu > ul > li > a {
                position: relative;
                top:30px;
            }

#telephoneNumbers {
    display: block;
    position: absolute;
    left: 250px;
    top: 20px;
    width: 400px;
}

/* Content section */
section {
    display: block;
    margin: 20px 0 20px 0;
    padding: 10px;
}
    section > h1 {
        display: block;
        padding: 5px 5px 5px 30px;
    }

/* About section*/
#about > ul.gallery > li {
    display: inline-block;
}
    /* Photo positioning */
    .photo3 > a > img {
        width: 400px;
        height: 300px;
        -webkit-transform: rotate(-5deg);
    }
    .photo4 > a > img {
        width: 370px;
        height: 250px;
        -webkit-transform: rotate(2deg);
    }
    .photo5 > a > img {
        width: 300px;
        height: 210px;
        -webkit-transform: rotate(5deg);
    }
    .photo6 > a > img {
        width: 350px;
        height: 270px;
        -webkit-transform: rotate(-8deg);
    }