* {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

div,section,nav {
    display: block;
}

p,span,b,i,strong,small {
    display: inline-block;
    position: relative;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}